body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Cabin sketch", cursive;
}

main {
  flex: 1 0 auto;
  background-image: url("../images/woodBackdrop.jpg");
  background-size: cover;
 
}

#card {
  margin-top: 70px;
  /* padding-bottom: 100px; */
  -moz-border-radius-bottomright: 50px 25px;
  border-bottom-right-radius: 50px 25px;
}

.card-title {
  font-size: 60px;
}

h1 {
  color: rgb(204, 202, 202);
  animation: entry 2s forwards;
}

#wave1 {
  animation: chippy1 3s forwards;
}

#wave2 {
  animation: chippy2 4s forwards;
}

#wave3 {
  animation: chippy3 5s forwards;
}

#work {
  padding: 20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(45, end),
    blink-caret .75s step-end;
}


@keyframes entry {
  from {
    transform: translate(0px, 1000px);
  }
  to {
    transform: translate(0px, 0px)
  }
}

@keyframes chippy1 {
  from {
    transform: translate(0px, 1000px);
  }
  to {
    transform: translate(0px, 0px)
  }
}

@keyframes chippy2 {
  from {
    transform: translate(0px, 1000px);
  }
  to {
    transform: translate(0px, 0px)
  }
}

@keyframes chippy3 {
  from {
    transform: translate(0px, 1000px);
  }
  to {
    transform: translate(0px, 0px)
  }
}

@keyframes presenting {
  from {
    transform: translate(-1000px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80%; overflow: hidden;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  0% { border-color: transparent }
  50% { border-color: transparent orange; }
  60% {
    border-color: none;
  }
  100% {
    border: none;
  }

}