body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Cabin sketch", cursive;
}

main {
  flex: 1 0 auto;
  background-image: url("../images/woodBackdrop.jpg");
  background-size: cover;
 
}
.card {
  margin-top: 100px;
  /* padding-bottom: 100px; */
  background-color: grey;
  height: 50vh;
  width: 90vh;
}

img {
  width: 40px;
  height: 600px;
}